.navbar {
    position: relative;
    z-index: 1000;
    width: 100%;
}

.main-carousel {
    position: relative;
    z-index: 1;
}
.card {
    width: 190px;
    height: 254px;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(25, 25, 25);
}

.card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.card .card-title {
    color: white;
    text-align: center;
    padding: 10px;
}
.mt-6 {
    margin-top: 1.5rem/* 24px */;
}