<div class="">
    <div class="py-4">
      <app-main-corousel class="main-carousel"></app-main-corousel>
    </div>
    <div class="">
      <app-product-slider [title]="'Jeans'" [product]="Jeans"></app-product-slider>
      <app-product-slider [title]="'Men\'s Kurta'" [product]="Mens_kurta"></app-product-slider>
      <app-product-slider [title]="'Men\'s Shirts'" [product]="Men_Shirt"></app-product-slider>
      <app-product-slider [title]="'Women\'s Top'" [product]="womenTop"></app-product-slider>
    </div>
</div>