
<div class="container" align="center" >
    <div class="heading">Sign In</div>
    <form [formGroup]="loginForm" (ngSubmit)="checkLogin()" class="form">
      <input required email class="input text-black" type="text" id="email" placeholder="Email" formControlName="email">
      <input required PassWord class="input text-black" type="password" id="password" placeholder="Password" formControlName="password">
      <h5 class="text-danger">{{errMsg}}</h5>
      <input class="login-button" type="submit" value="Sign In">
  </form>
  <p class="text-black">create account</p><p class="text-blue-400" routerLink="/signin">sign up</p>
</div>