/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Your custom styles */
body {
    background-color: black;
    color: white;
    margin: 0;
}
.box {
    box-shadow: rgb(27, 27, 27) 0px 5px 15px;
    padding: 15px;
}
html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
